<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Изменение параметров автомобиля
    </title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/cars/{id}(id=${id})}" th:object="${carDto}" method="post">
        <div class="mb-3">
            <label for="model" class="form-label">Модель</label>
            <input type="text" class="form-control" id="model" th:field="${carDto.model}" required="true">
        </div>
        <div class="mb-3">
            <label for="holder">Владелец</label>
            <select class="form-control" th:field="${carDto.holderName}" id="holder">
                <option value="">Нет</option>
                <option th:each="holder : ${allHolders}"
                        th:value="${holder.name}" th:text="${holder.name}">
            </select>
        </div>
        <div class="mb-3">
            <label for="multiple-manufacturers" class="form-label">Производители</label>
            <select id="multiple-manufacturers" th:field="${carDto.manufacturers}" multiple="multiple"
                    class="form-control">
                <option th:each="manufacturer: ${allManufacturers}"
                        th:value="${manufacturer.country}" th:text="${manufacturer.country}">
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/cars}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>