<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Автомобили
    </title>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Модель</th>
                <th scope="col">Владелец</th>
                <th scope="col">Производители</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car, iterator: ${cars}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${car.id}"/>
                <td th:text="${car.model}"/>
                <td>
                    <span th:if="${car.holderName} != null" th:text="${car.holderName}"/>
                    <span th:if="${car.holderName} == null" th:text="Нет"/>
                    <span th:if="${car.holderName} == ''" th:text="Нет"/>
                </td>
                <td style="width: 60%">
                    <span th:if="${#sets.isEmpty(car.manufacturers)}" th:text="Нет"/>
                    <span th:if="${not #sets.isEmpty(car.manufacturers)}" th:text="${#strings.setToString(car.manufacturers)}"/>
                </td>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/cars/edit/{id}(id=${car.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${car.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/cars/delete/{id}(id=${car.id})}" method="post">
                        <button th:id="'remove-' + ${car.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/cars/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить автомобиль
        </a>
    </div>
</div>
</body>
</html>