<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Владельцы автомобилей
    </title>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Автомобили</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="holder, iterator: ${holders}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${holder.id}"/>
                <td th:text="${holder.name}"/>
                <td style="width: 60%">
                    <span th:if="${#lists.isEmpty(holder.cars)}" th:text="Нет"/>
                    <span th:if="${not #lists.isEmpty(holder.cars)}" th:text="${#strings.listToString(holder.cars)}"/>
                </td>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/holders/edit/{id}(id=${holder.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${holder.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/holders/delete/{id}(id=${holder.id})}" method="post">
                        <button th:id="'remove-' + ${holder.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/holders/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить владельца
        </a>
    </div>
</div>
</body>
</html>