<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Изменение информации про владельца автомобилей
    </title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/holders/{id}(id=${id})}" th:object="${holderDto}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" th:field="${holderDto.name}" required="true">
        </div>
        <div class="mb-3">
            <label for="multiple-cars" class="form-label">Автомобили</label>
            <select id="multiple-cars" th:field="${holderDto.cars}" multiple="multiple" class="form-control">
                <option value="">Нет</option>
                <option th:each="car: ${allCars}"
                        th:value="${car.model}" th:text="${car.model}">
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/holders}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>