<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Изменение информации о производителе
    </title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/manufacturers/{id}(id=${id})}" th:object="${manufacturerDto}" method="post">
        <div class="mb-3">
            <label for="country" class="form-label">Страна</label>
            <input type="text" class="form-control" id="country" th:field="${manufacturerDto.country}" required="true">
        </div>
        <div class="mb-3">
            <label for="multiple-cars" class="form-label">Автомобили</label>
            <select id="multiple-cars" th:field="${manufacturerDto.cars}" multiple="multiple" class="form-control">
                <option value="">Нет</option>
                <option th:each="car: ${allCars}"
                        th:value="${car.model}" th:text="${car.model}">
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/manufacturers}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>