<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Производители
    </title>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Страна</th>
                <th scope="col">Автомобили</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manufacturer, iterator: ${manufacturers}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${manufacturer.id}"/>
                <td th:text="${manufacturer.country}"/>
                <td style="width: 60%">
                    <span th:if="${#lists.isEmpty(manufacturer.cars)}" th:text="Нет"/>
                    <span th:if="${not #lists.isEmpty(manufacturer.cars)}" th:text="${#strings.setToString(manufacturer.cars)}"/>
                </td>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/manufacturers/edit/{id}(id=${manufacturer.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${manufacturer.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/manufacturers/delete/{id}(id=${manufacturer.id})}" method="post">
                        <button th:id="'remove-' + ${manufacturer.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/manufacturers/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить производителя
        </a>
    </div>
</div>
</body>
</html>